$bg: linear-gradient(rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.5)),
url("https://cutt.ly/AviDdUf");
$fontSize:4em;

.headerStyle {
  width: 100%;
  height: 40%;
  min-height: 250px;
  background: $bg;
  background-position: center;
  margin: 0px;
  padding: 10px;

  h1{
    font-size: $fontSize;
  }
  h2{
    $fontSize:3em;
    font-size: $fontSize;
  }
}
@media screen and (max-width: 720px) {
  $fontSize:3em;
  .headerStyle {
    height: 50%;
      h1{
        font-size: $fontSize;
      }
      h2{
        $fontSize:1.5em;
        font-size: $fontSize;
      }
  }
}
