.optionContainerStyle {
  /* position: absolute;
  top: 50%; */
  margin: 20px;
  /* width: 100%; */
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 720px) {
  .optionContainerStyle {
    /* top: 63%; */
    flex-direction: column;
    align-items: center;
  }
}
