.searchBoxStyle {
  background-color: white;
  width: 450px;
  min-width: 150px;
  margin: 0 auto;
  padding: 2px;
  display: flex;
  box-shadow: 5px 5px 10px #888888;
  border-radius: 10px;
}

@media screen and (max-width: 720px) and (max-width: 480px) {
  .searchBoxStyle {
    width: 300px;
    margin: 0px auto;
  }
}

@media screen and (max-width: 240px) {
  .searchBoxStyle {
    width: 200px;
    margin: 0px auto;
  }
}
